html {
  font-size: 16px;
  background-color: #aaa;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;

  --button-color: #eee;
  --button-color-hover: #ddd;
}

* {
  margin: 0;
  padding: 0;  
  box-sizing: border-box;
}

button {
  border: 1px solid;
  border-radius: 5px;  
  background-color: var(--button-color);
  font-size: 1rem;
  padding: 10px;
}

button:hover {
  background-color: var(--button-color-hover);
}

.container {
  margin: 20px;
  padding: 30px;
  overflow: scroll;

  min-height: calc(100vh - 40px);
  background-color: #fff;
  border-radius: 10px;  
  
  display: grid;  
  gap: 30px;
  grid-template-rows: 30px 50px 1fr;
}

.book {
  display: grid;
}

.books {
  list-style: none;
  display: grid;
  gap: 20px;
  grid-template-columns: repeat(auto-fit, 250px);  
  grid-template-rows: repeat(auto-fit, 350px);
}

.book__article {  
  padding: 20px;
  display: grid;
  align-content: space-between;

  gap: 10px;
  border: 1px solid;
  border-radius: 5px;
}

.book__texts,
.book__buttons {
  display: grid;
  gap: 10px;
}

.book__button--disabled {
  background-color: #eee;
  color: var(--button-color-hover);
}

.book__p {
  overflow: scroll;
  text-align: start;
}

.book__p--finished {
  text-align: center;
  font-style: italic;
  /* color: var(--button-color-hover); */
}


/* The Modal (background) */
.modal {
  display: none; 
  position: fixed; 
  z-index: 1; 
  left: 0;
  top: 0;
  width: 100%; 
  height: 100%; 
  overflow: auto; 
  background-color: #000000;
  background-color: #00000066;
}

/* Modal Content/Box */
.modal__content {
  background-color: #fefefe;
  margin: 15% auto; 
  padding: 20px;
  border: 1px solid #888;
  width: 80%; 
}

/* The Close Button */
.modal__close-button {
  color: #aaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.modal__close-button:hover,
.modal__close-button:focus {
  color: black;
  text-decoration: none;
  cursor: pointer;
}